@model WebApi.Dto.Student_Course_Assignmed

<form asp-action="AssignStudent">
    <div class="container">
        <h4>Assign</h4>
        <hr />

        @Html.HiddenFor(m => Model.Id)
        <div class="form-group">
            <label class="col-lg-5 col-form-label">@Model.Name</label>
        </div>
        <div class="form-group">
            <label class="col-lg-5 col-form-label">@Model.StartDate</label>
        </div>
        <div class="form-group">
            <label class="col-lg-5 col-form-label">@Model.EndDate</label>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th>StudentName</th>
                    <th>Assigned</th>
                </tr>
            </thead>
            <tbody>
                @for (var i = 0; i < Model.Students.Count; i++)
                {
                    <tr>
                        <td>
                            @Model.Students[i].StudentName
                        </td>
                        <td>
                            @Html.CheckBoxFor(m => m.Students[i].IsAssigned)
                        </td>
                        @Html.HiddenFor(m => m.Students[i].StudentId)
                    </tr>
                }
            </tbody>
        </table>

        <div class="form-group">
            <div class="offset-md-1 col-lg-10">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </div>

    </div>

</form>